/* 中文標題字體大小與樣式 */
/* src/styles/Typography.css */

/* 中文字體 */
:root {
  --font-zh: 'LXGW WenKai TC', sans-serif;
  --font-en: 'Piazzolla', serif;
}

/* 中文標題 */
.zh-title-48 {
  font-family: var(--font-zh);
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5%;
}

.zh-title-36 {
  font-family: var(--font-zh);
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5%;
}

.zh-title-32 {
  font-family: var(--font-zh);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5%;
}

/* 中文內文 */
.zh-text-24 {
  font-family: var(--font-zh);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5%;
}

.zh-text-20 {
  font-family: var(--font-zh);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5%;
}

.zh-text-16 {
  font-family: var(--font-zh);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5%;
}

.zh-text-14 {
  font-family: var(--font-zh);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5%;
}

/* 英文標題與內文 */
.en-title-32 {
  font-family: var(--font-en);
  font-size: 32px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 6%;
}

.en-text-16 {
  font-family: var(--font-en);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 6%;
}

.en-text-14 {
  font-family: var(--font-en);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 6%;
}

/* Footer版權 */
.en-title-16 {
  font-family: var(--font-en);
  font-weight: 400;
  font-size: 16pt;
  line-height: 160%;
  letter-spacing: 6%;
  text-align: center;
}

/* WhyUs文字區塊基礎 */
.whyus-text {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.whyus-text h3 {
  margin-bottom: 16px;
}

.whyus-text p {
  max-width: 360px;
  white-space: normal;
}

