/* 全域高度設定，讓 footer 能夠貼底 */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* 撐開頁面容器 */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 中間主要區域可延伸佔滿高度 */
.main-content {
  flex: 1;
  padding: 2rem;
  max-width: 1280px;
  min-height: 100vh;  /* 讓內容區至少佔滿整個畫面高度 */
  margin: 0 auto;
  text-align: center;
}

/* 全站字體與主色設定 */
body {
  font-family: 'Piazzolla', 'LXGW WenKai TC', serif;
  /* color: #142E3F; */
  background-color: #fff;
  line-height: 1.6;
}

/* Logo 樣式 */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* 卡片樣式 */
.card {
  padding: 2em;
}

/* 文件提示樣式 */
.read-the-docs {
  color: #888;
}
